{% extends 'main.html' %}

    {% block home %}
    <section class="section">
      <div>
        <div class="buttons is-centered">
            <a class="button has-background-primary-light is-medium" style="width: 150px;" href="{{ url_for('login') }}">
            <strong>Log In</strong>
            </a>
        </div>
        <div class="buttons is-centered">
            <a class="button has-background-primary-light is-medium" style="width: 150px;" href="{{ url_for('signup') }}">
            <strong>Sign Up</strong>
            </a>
        </div>
    </div>
    </section>
    {% endblock %}