{% extends 'main.html' %}

{% block login %}
  <div class="field is-centered">
    <form method="POST" action="{{ url_for('login') }}" class="box login" style="width: 30%; margin: 30pt auto;">
      <div class="field">
        {% for field in form %}
        {% if field.type == 'StringField' %}
        <div class="field">
          <label class="label">{{ field.label(class_='label') }}</label>
          <div class="control">
            {{ field(class_='input is-primary', placeholder_='e.g. h.potter@hogwards.edu') }}
          </div>
        </div>
        {% elif field.type == 'PasswordField' %}
        <div class="field">
          <label class="label">{{ field.label(class_='label') }}</label>
          <div class="control">
            {{ field(class_='input is-primary', placeholder_='*******') }}
          </div>
        </div>
        {% elif field.type == 'SubmitField' %}  
        <div class="buttons is-centered">
          {{ field(class_='button has-background-primary', style_='width: 100px; font-weight: bold') }}
        </div>
        {% else %}  
          {{ field }}
        {% endif %}
        {% endfor %}
        <div class="buttons is-centered">
          <a class="button has-background-primary" style="width: 100px" href="{{ url_for('signup') }}">
          <strong>Sign Up</strong>
          </a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}