{% extends 'main.html' %}

<!-- {% block navbar %}
<div class="navbar-item">
    <div class="buttons">
        <button class="button">
            <span class="icon">
            <i class="fas fa-heart has-text-primary"></i>
            </span>
        </button>
    </div>
</div>
<div class="navbar-item">
    <div class="buttons">
        <a class="button has-background-primary-light" href="{{ url_for('feed') }}">
        <strong>Inbox</strong>
        </a>
    </div>
</div>
{% endblock %} -->


{% block feed %}
<div class="columns">
    <div class="column is-three-fifths">
    </div>

    <div class="column is-two-fifths ">
        <div class="columns">
            <div class="column">
                <section class="section">
                <h1 class="title" style="text-align: center;">Featured</h1>
                    {% for offer in offers %}
                        <div class="box offer has-background-primary-light">
                            <div class="columns">
                                <div class="column is-two-thirds">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-128x128">
                                            <img class="offer_img" src="{{ url_for('static', filename=offer['Picture']) }}" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                            <p>
                                                <strong><u>{{ offer['Name'] }}</u></strong> <small>@{{ offer['Username'] }}</small> <small>posted on {{ (offer['OfferDate']).strftime('%b %d, %H:%m') }}</small>
                                                <br>
                                                Departure: {{ offer['Departure'] }}
                                                <br>
                                                Dates: {{ (offer['StartDate']).strftime('%b %d') }} - {{ (offer['EndDate']).strftime('%b %d') }}
                                                <br>
                                                Passengers: {{ offer['Passengers'] }}
                                            </p>
                                            </div>
                                            <nav class="level is-mobile">
                                            <div class="level-left">
                                                <a class="level-item" aria-label="like">
                                                    <span class="icon-text">
                                                        {% if offer['Likes'] > 0 %}
                                                        <span class="icon">
                                                            <i class="fas fa-heart has-text-primary"></i>
                                                        </span>
                                                        <span class="has-text-primary">{{ offer['Likes'] }}</span>
                                                        {% else %}
                                                        <span class="icon">
                                                            <i class="fas fa-heart has-text-grey-light"></i>
                                                        </span>
                                                        {% endif %}
                                                    </span>
                                                </a>
                                            </div>
                                            </nav>
                                        </div>
                                    </article>
                                </div>
                                <div class="column">
                                    <div class="buttons">
                                        <a class="button has-background-primary is-fullwidth" href="index.html">
                                        <strong>Accept</strong>
                                        </a>
                                    </div>
                                    <div class="buttons">
                                        <a class="button has-background-primary is-fullwidth" href="index.html">
                                        <strong>Request info</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}
