{% extends 'main.html' %} {% block navbar %}
<div class="navbar-item">
  <div class="buttons">
    <button class="button">
      <span class="icon">
        <i class="fas fa-heart has-text-primary"></i>
      </span>
    </button>
  </div>
</div>
<div class="navbar-item">
  <div class="buttons">
    <a class="button has-background-primary-light" href="{{ url_for('feed') }}">
      <strong>Inbox</strong>
    </a>
  </div>
</div>
<div class="navbar-item">
  <div class="buttons">
    <a
      class="button has-background-primary-light"
      style="min-width: 100px; font-weight: bold"
      href="index.html"
    >
      <strong>{{ user.username }}</strong>
    </a>
  </div>
</div>
<div class="navbar-item">
  <div class="buttons">
    <a
      class="button has-background-primary-light"
      href="{{ url_for('logout') }}"
    >
      <strong>Log out</strong>
    </a>
  </div>
</div>
{% endblock %} {% block feed %}
<div class="columns">
  <div class="column is-three-fifths">
    <section class="section">
      <div class="mb-4" style="position: relative">
        <a
          href="{{ url_for('feed') }}"
          class="button is-light is-primary"
          style="position: absolute; left: 0"
        >
          <span class="icon"><i class="fas fa-arrow-left"></i></span>
          <span>Back to Feed</span>
        </a>
        <h2 class="title has-text-centered">New Offer</h2>
      </div>
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="box offer has-background-primary-light">
          <div class="columns">
            <div class="column is-two-thirds">
              <div class="field">
                {{ form.port_departure.label(class="label") }}
                <div class="control">
                  {{ form.port_departure(class="input is-primary") }}
                </div>
              </div>

              <div class="field">
                {{ form.port_arrival.label(class="label") }}
                <div class="control">
                  {{ form.port_arrival(class="input is-primary") }}
                </div>
              </div>

              <div class="field">
                {{ form.date_departure.label(class="label") }}
                <div class="control">
                  {{ form.date_departure(class="input is-primary") }}
                </div>
              </div>

              <div class="field">
                {{ form.days.label(class="label") }}
                <div class="control">
                  {{ form.days(class="input is-primary") }}
                </div>
              </div>

              <div class="field">
                {{ form.pax.label(class="label") }}
                <div class="control">
                  {{ form.pax(class="input is-primary") }}
                </div>
              </div>

              <div class="field">
                {{ form.price.label(class="label") }}
                <div class="control">
                  {{ form.price(class="input is-primary") }}
                </div>
              </div>

              <div class="field">
                {{ form.picture.label(class="label") }}
                <div class="control">
                  {{ form.picture(class="input is-primary") }}
                </div>
              </div>

              <div class="buttons is-centered">
                {{ form.submit(class="button has-background-primary",
                style="width: 30%;") }}
              </div>
            </div>

            <div class="column">
              <div class="field">
                <label class="label" style="text-align: center"
                  >Picture Preview</label
                >
                <figure class="image is-256x256">
                  <img
                    class="offer_img"
                    src="{{ url_for('static', filename='chebu.jpg') }}"
                    alt="Image"
                  />
                </figure>
              </div>
              <div class="buttons is-centered">
                <button class="button has-background-primary" type="button">
                  <strong>Choose picture</strong>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>

  <div class="column is-two-fifths">
    <div class="columns">
      <div class="column">
        <section class="section">
          <h1 class="title" style="text-align: center">Featured</h1>
          {% for offer in offers %} {% if ((0 if offer['LikeCount'] is none else
          offer['LikeCount']) | int) > 0 %}
          <div class="box offer has-background-primary-light">
            <div class="columns">
              <div class="column is-two-thirds">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-128x128">
                      {% if offer['Picture'] %}
                      <img
                        class="offer_img"
                        src="{{ url_for('static', filename='OffersPics/' + offer['Picture']) }}"
                        alt="Image"
                      />
                      {% else %}
                      <img
                        class="offer_img"
                        src="{{ url_for('static', filename='chebu.jpg') }}"
                        alt="No image provided"
                      />
                      {% endif %}
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong><u>{{ offer['FirstName'] }}</u></strong>
                        <small>@{{ offer['Username'] }}</small>
                        <br />
                        Departure:
                        <br />
                        {{ offer['PortDeparture'] }}
                      </p>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <a class="level-item" aria-label="like">
                          <span class="icon-text">
                            {% if ((0 if offer['LikeCount'] is none else
                            offer['LikeCount']) | int) > 0 %}
                            <span class="icon">
                              <i class="fas fa-heart has-text-primary"></i>
                            </span>
                            <span class="has-text-primary"
                              >{{ offer['LikeCount'] }}</span
                            >
                            {% else %}
                            <span class="icon">
                              <i class="fas fa-heart has-text-grey-light"></i>
                            </span>
                            {% endif %}
                          </span>
                        </a>
                      </div>
                    </nav>
                  </div>
                </article>
              </div>
              <div class="column">
                <div class="buttons">
                  <a
                    class="button has-background-primary is-fullwidth"
                    href="index.html"
                  >
                    <strong>Accept</strong>
                  </a>
                </div>
                <div class="buttons">
                  <a
                    class="button has-background-primary is-fullwidth"
                    href="index.html"
                  >
                    <strong>More info</strong>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {% endif %} {% endfor %}
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}
