{% extends 'main.html' %}

{% block signup %}
<div class="field is-centered">
  <form class="box login" style="width: 50%; margin: 30pt auto;">
    <div class="columns field">

      <div class="column is-two-thirds">
        <div class="columns">

          <div class="column">
            {% for field in form %}
            {% if field.id == 'first_name' %}
            <div class="field">
              <label class="label">{{ field.label(class_='label') }}</label>
              <div class="control">
                {{ field(class_='input is-primary', placeholder_='Harry') }}
              </div>
            </div>
            {% elif field.id == 'username' %}
            <div class="field">
              <label class="label">{{ field.label(class_='label') }}</label>
              <div class="control has-icons-left has-icons-right">
                {{ field(class_='input is-success is-primary', placeholder_='HPotter') }}
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>

          <div class="column">
            {% for field in form %}
            {% if field.id == 'last_name' %}
            <div class="field">
              <label class="label">{{ field.label(class_='label') }}</label>
              <div class="control">
                {{ field(class_='input is-primary', placeholder_='Potter') }}
              </div>
            </div>
            {% elif field.id == 'dob' %}
            <div class="field control is-expanded">
              <label class="label">{{ field.label(class_='label') }}</label>
              <div class="control">
                {{ field(class_='input is-primary', type='date', placeholder_='Date of arrival') }}
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>

        </div>
        {% for field in form %}
        {% if field.id == 'email' %}
        <div class="field">
          <label class="label">{{ field.label(class_='label') }}</label>
            <div class="control">
              {{ field(class_='input is-primary', type='email', placeholder_='Email input', value='hello@') }}
            </div>
        </div>
        {% elif field.id == 'password_hash' %}
        <div class="field">
          <label class="label">{{ field.label(class_='label') }}</label>
          <p class="control has-icons-left">
            {{ field(class_='input is-primary', type='password', placeholder_='Password') }}
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        {% endif %}
        {% endfor %}

      </div>

      <div class="column" style="text-align: center;">
        <div class="field">
          <span class="control">
            <label class="label">Profile picture</label>
            <figure class="image is-1by1">
              <img style="border: 1px solid black;" class="is-rounded" src="{{ url_for('static', filename='chebu.jpg') }}">
            </figure>
          </span>
        </div>
        <div class="buttons is-centered">
          <button class="button has-background-primary">Submit</button>
        </div>
      </div>

    </div>
  
  </form>
  <div class="buttons is-centered">
    <button class="button has-background-primary is-medium">Sign Up</button>
  </div>
</div>

{% endblock %}